html, body {
  margin: 0;
  padding: 0;
  color: rgb(100, 200, 33);
}

canvas {
  display: block;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: right;
}

p {
  font-family: helvetica;
  font-size: 60px;
}
